body {
    font-family: "Barrio", cursive;
    color: #747784;
    font-weight: 300
}
.text-muted {
    color:#bcbbbb;
}

.text-thick {
    font-weight: 800
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.hr-rule {
    border-bottom: 1px solid black;
}